<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
        <img src="images/logo_michele.png" alt="logo Michele Lollobrigida" height="50">
        <span class="brand-text">Michele Lollobrigida Psicoterapeuta</span>
      </a>
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="menuOpen" aria-controls="navbarNav" aria-label="Apri menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="menuOpen" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contatti">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
