.footer {
    background-color: black;
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    /* Rimosso position: absolute e bottom: 0 */
}

.sub-footer-1, .sub-footer-2, .sub-footer-3 {   
   flex: 1;
   text-align: center;
}